/*btn lägg till*/
.btn-delete {
    font-size: 2rem;
    padding: 0.5rem 2rem;
    background-color: #FFCF86;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(30, 30, 30, 0.2);
    transition: all 0.2s ease-out;
}

.btn-delete:hover {
    background-color: #F6A428;
    transform: scale(1.1);
    cursor: pointer;
}

.schedule-text {
    margin: 2rem auto;
    max-width: 120rem;
    width: 100%;
    padding: 1rem 2rem;
}

.schedule-text span {
    font-weight: bold;
}

fa-icon {
    margin-right: 0.5rem;
    color: #1e1e1e;
    display: block;

}