/*Sökfält*/

#search-subject-wrap {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    gap: 10rem;
    justify-content: space-between;
    font-size: 1.8rem;
}

.search-bar,
.subject-bar {
    margin: 2rem;
}

.search-bar label,
.subject-bar label {
    display: block;
    width: 100%;
    max-width: 50rem;
}

#search,
#subject {
    width: 40rem;
    padding: 0.5rem;
}

.totalCourses {
    margin: 0 2rem;
}

.totalCourses p {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 1rem;
}

/*Table*/
.table-wrap {
    margin: 2rem;
}

table {
    border-collapse: collapse;
    max-width: 1200px;
    width: 100%;
    margin: 2rem auto;
    font-size: 1.8rem;
}


table th {
    text-align: left;
    padding: 1rem;
    font-weight: bold;
}

table tr:not(:first-child) {
    border-bottom: 1px solid rgb(194, 194, 194, 0.4);
}

table tr td {
    padding: 1rem;
}

table a {
    color: #1e1e1e;
}

button {
    padding: 0.5rem;

}