/*Sökfält*/

#search-subject-wrap {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    gap: 10rem;
    justify-content: space-between;
    font-size: 1.8rem;
}

.search-bar,
.subject-bar {
    margin: 2rem;
}

.search-bar label,
.subject-bar label {
    display: block;
    width: 100%;
    max-width: 50rem;
}

#search,
#subject {
    width: 40rem;
    padding: 0.5rem;
    border: 1px solid rgb(194, 194, 194, 0.4);
    box-shadow: 0px 2px 2px 0px rgba(30, 30, 30, 0.2);
}

.search-bar input[type=search]:focus {
    background-color: rgba(28, 57, 99, 0.15);
    outline: none;
}

.subject-bar select>option {
    background-color: rgba(28, 57, 99, 0.15);
    outline: none;
}

.subject-bar select option:focus {
    background-color: rgba(28, 57, 99, 0.15);
    outline: none;
}

::selection {
    color: #1e1e1e;
    background: rgba(28, 57, 99, 0.15);
}

.totalCourses {
    margin: 0 2rem;
}

.totalCourses p {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 1rem;
}



/*btn lägg till*/
.btn-add-course {
    font-size: 2rem;
    padding: 0.5rem 2rem;
    background-color: #FFCF86;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(30, 30, 30, 0.2);
    transition: all 0.2s ease-out;
}

.btn-add-course:hover {
    background-color: #F6A428;
    transform: scale(1.1);
    cursor: pointer;
}

.btn-add-course:disabled:hover {
    background-color: #FFCF86;
    transform: scale(1);
    cursor: default;
}

