<div id="search-subject-wrap">
    <div class="search-bar">
        <label for="search">Filtrera kurser:</label>
        <input type="search" id="search" [(ngModel)]="searchInput" (input)="searchFilter()">
    </div>

    <div class="subject-bar">
        <label for="subject">Ämnesområde</label>
        <select name="subject" id="subject">
            <option value="" *ngFor="let subject of filteredSubjects" type="option"> {{ subject }} </option>
        </select>
    </div>
</div>


<div class="totalCourses">
    <p>Listar <span>{{filteredCourseData.length}}</span> kurser av totalt <span>{{amountCourses}}</span></p>
</div>


<div class="table-wrap">
    <table>
        <tr>
            <th>Kod</th>
            <th>Kursnamn</th>
            <th>Poäng</th>
            <th>Ämne</th>
            <th>Kursplan</th>
            <th>Lägg till</th>
        </tr>
        <tr *ngFor="let course of filteredCourseData">
            <td>{{ course.courseCode }}</td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.points }}hp</td>
            <td>{{ course.subject }}</td>
            <td class="external-link">
                <a href="{{course.syllabus}}" target="_blank">
                    <fa-icon [icon]="faLink"></fa-icon>
                </a>
            </td>
            <td><button class="btn-add-course">Lägg till</button></td>
        </tr>
    </table>
</div>