<div id="search-subject-wrap">
    <div class="search-bar">
        <label for="search">Filtrera kurser:</label>
        <input type="search" id="search" [(ngModel)]="searchInput" (input)="searchFilter()">
    </div>

    <div class="subject-bar">
        <label for="subject">Ämnesområde</label>
        <select name="subject" id="subject" [(ngModel)]="selectSubject" (ngModelChange)="searchFilter()">
            <option value=""></option>
            <option value="{{ subject }}" *ngFor="let subject of filteredSubjects" type="option"> {{ subject }} </option>
        </select>
    </div>
</div>


<div class="totalCourses">
    <p>Listar <span>{{filteredCourseData.length}}</span> kurser av totalt <span>{{amountCourses}}</span></p>
</div>


<div class="table-wrap">
    <table>
        <tr>
            <th (click)="sort('courseCode')">Kod</th>
            <th (click)="sort('courseName')">Kursnamn</th>
            <th (click)="sort('points')">Poäng</th>
            <th (click)="sort('subject')">Ämne</th>
            <th>Kursplan</th>
            <th>Lägg till</th>
        </tr>
        <tr *ngFor="let course of paginatedCourseData">
            <td>{{ course.courseCode }}</td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.points }}hp</td>
            <td>{{ course.subject }}</td>
            <td class="external-link">
                <a href="{{course.syllabus}}" target="_blank">
                    <fa-icon [icon]="faLink"></fa-icon>
                </a>
            </td>
            <td><button class="btn-add-course" [disabled]="isCourseAdded(course.courseCode)" (click)="saveCourseToSchedule(course)">Lägg till</button></td>
        </tr>
    </table>

    <mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [disabled]="false"
               [showFirstLastButtons]="true"
               [pageSizeOptions]="[]"
               [hidePageSize]="true"
               [pageIndex]="pageIndex"
               aria-label="Select page">
    </mat-paginator>

</div>